<template>
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="content">
                <div class="found">
                    <button class="found-button"></button>
                </div>
                <div class="publish">
                    <button class="publish-button"></button>
                </div>
                <div class="notification">
                    <button class="notification-button"></button>
                </div>
            </div>
            <div class="login">
                <button class="login-button"></button>
            </div>
        </div>
        <div class="sidebar-more">
            <button class="sidebar-more-button"></button>
        </div>
    </div>
    <script>

    </script>
</template>