<template>
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="content">
                <div class="found">
                    <button class="found-button">发现</button>
                </div>
                <div class="publish">
                    <button class="publish-button">发布</button>
                </div>
                <div class="notification">
                    <button class="notification-button">通知</button>
                </div>
            </div>
            <div class="login">
                <button class="login-button">登录</button>
            </div>
        </div>
        <div class="sidebar-more">
            <button class="sidebar-more-button">更多</button>
        </div>
    </div>
    <script>

    </script>
</template>