.navbar-container{
    background-color:#baffc3;
    width: auto;
    height:20px;
    padding:20px;
}
.text{
    text-decoration:none;
    color:darkgreen;
    margin:20px;
     
}
.text:hover{
    color:darkgoldenrod;
}

