<template>
    <div class="navbar-container">
        <span class="navbar" id="recommend">
            <a href="" class="text">推荐</a>
        </span>
        <span class="navbar" id="wear">
            <a href="" class="text">穿搭</a>
        </span>
        <span class="navbar" id="food">
            <a href="" class="text">美食</a>
        </span>
        <span class="navbar" id="costume">
            <a href="" class="text">彩妆</a>
        </span>
        <span class="navbar" id="movie">
            <a href="" class="text">影视</a>
        </span>
        <span class="navbar" id="work">
            <a href="" class="text">职场</a>
        </span>
        <span class="navbar" id="emotion">
            <a href="" class="text">情感</a>
        </span>
        <span class="navbar" id="home">
            <a href="" class="text">家居</a>
        </span>
        <span class="navbar" id="game">
            <a href="" class="text">游戏</a>
        </span>
        <span class="navbar" id="travel">
            <a href="" class="text">旅行</a>
        </span>
        <span class="navbar" id="fit">
            <a href="" class="text">健身</a>
        </span>
        </span>
    </div>
</template>