.navbar-container{
    background-color:greenyellow;
    width: 1296px;
    height:50px;
    margin:20px 30px 20px 30px;
    padding:20px;
}
.text{
    text-decoration:none;
    color:black;
    margin:20px;
    background-color:cyan;
     
}
.text:hover{
    color:dimgray;
}
span:hover{
    color:black;
}
