<template>
    <div class="navbar-container">
        <span class="navbar" id="recommend">
            <a href="" class="text">推荐</button>
        </span>
        <span class="navbar" id="wear">
            <a href="" class="text">穿搭</button>
        </span>
        <!--   ...   -->
        <span class="navbar" id="food">
            <a href="" class="text">美食</button>
        </span>
        <span class="navbar" id="costume">
            <a href="" class="text">彩妆</button>
        </span>
        <span class="navbar" id="movie">
            <a href="" class="text">影视</span>
        </span>
        <span class="navbar" id="work">
            <a href="" class="text">职场</span>
        </span>
        <span class="navbar" id="emotion">
            <a href="" class="text">情感</span>
        </span>
        <span class="navbar" id="home">
            <a href="" class="text">家居</span>
        </span>
        <span class="navbar" id="game">
            <a href="" class="text">游戏</span>
        </span>
        <span class="navbar" id="travel">
            <a href="" class="text">旅行</span>
        </span>
        <span class="navbar" id="fit">
            <a href="" class="text">健身</span>
        </span>
        </span>
    </div>
</template>