<template>
    <div class="single-comment">
        <div class="single-comment-title">
            <span class="author-avatar">
                <img  id="avatar" src="" alt="error to load img">
            </span>
            <span class="author-name" id="name"></span>
        </div>
        <div class="single-comment-body">
            <div class="single-comment-content" id="content"></div>
            <div class="single-comment-footer">
                <span class="like" id="like"></span>
                <span class="comment-date" id="date"></span>
            </div>
        </div>
    </div>
</template>