.search-container{
    background-color: #baffc3;
    width: 500px;
    height:48px;
    margin:0 760px 0 760px;
    padding:10px;
    
}
.search-bar{
    border-radius:20px;
    height: 40px;
    width:400px;
    padding-left:15px;
    border-style:hidden;
    text-align:left;
    background-color:rgb(230, 229, 224);

}
.search-result-button{
    width:60px;
    height:40px;
    margin-top:0;
    padding:0;
    font-size:15px;
    border-radius:20px;
    border-style:solid;
    font-family:Arial, Helvetica, sans-serif;
    
}
.search-result-button:hover{
    width:60px;
    height:40px;
    margin-top:0;
    padding:0;
    font-size:15px;
    border-radius:20px;
    border-style:double;
    background-color:rgb(78, 255, 146);
    font-family:Arial, Helvetica, sans-serif;
    
}