<template>
    <div class="cover-container" onclick="detail()">
        <div class="cover">
            <img src="" alt="" class="cover-img">
        </div>
        <div class="content">
            <div class="title">
                <h1 class="title-text"></h1>
            </div>
            <div class="text-content">
                <p class="text"></p>
            </div>
        </div>
        <div class="footer">
            <span class="author">
                <span class="author-name"></span>
            </span>
            <span class="date">
                <span class="date-day"></span>
            </span>
        </div>
    </div>
    <script>
        function detail(){

        }
    </script>
</template>