.main-container{
    width:200px;
    height:350px;
    margin:0px 10px 5px;
    padding:0;
    background-color:blue;
}

.cover-container{
    width:200px;
    height:240px;
    
    padding:0;
    background-color:aqua;
    
}
.cover-img{
    text-align:center;
    width:200px;
    height:240px;
    border-radius:20px;
}
.content{
    width:200px;
    height:40px;
    background-color:coral;
}
.title{
    font-size:small;
}
.text-content{
    width:200px;
    height:45px;
    background-color:red;
}