<template>
    <div class="cover-container" onclick="detail()">
        <div class="cover">
            <img id="img" src="" alt="error to load img" class="cover-img" >
        </div>
        <div class="content">
            <div class="title">
                <h1 class="title-text" id="text">标题</h1>
            </div>
            <div class="text-content">
                <p class="text" id="text">一张风景图</p>
            </div>
        </div>
        <div class="footer">
            <span class="author">
                <span class="author-name" id="name"></span>
            </span>
            <span class="date">
                <span class="date-day" id="date"></span>
            </span>
        </div>
    </div>
</template>